<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Internal Page In Mexico</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">  
    <link href="css/flexslider.css" rel="stylesheet" type="text/css"> 
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

</head>
<body>

    <header class="mexico-home-header4">
        <nav class="navbar navbar">
            <div class="container-fluid">
                <div class="row">	
                    <div class="col-lg-8 mexico-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="images/mexico-logo.png">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="index.html">Home</a>
                                </li>
                                <li><a href="listings.html">Listings</a>
                                </li>
                                <li><a class="active" href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mexico-nav-extra">
                    <a class="one" href="contact.html">Contact Us</a>
                    <a class="three" href="register.html"><img src="images/mexico-icon3.png" alt="icon3">Sign in or Register </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <section class="mexico-contact-section">
    <div class="container">
    <div class="row">
    <div class="col-lg-8 mexico-internal-heading">
    <h2>2005 Honda Civic</h2>
    </div>
    <div class="col-lg-4 mexico-internal-heading2">
    <span>Price</span>
    <a href="#">
    <button type="button" class="btn-default">$850</button>
    </a>
    </div>
    </div>
    </div>
    </section>
    
    <section class="mexico-internal-section2">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 mexico-internal">
      <h3><img src="images/mexico-icon24.png" alt="icon24">Gallery</h3>
      <hr>
	<!-- Place somewhere in the <body> of your page -->
	<div id="slider" class="flexslider">
  <ul class="slides">
    <li>
      <img src="images/slides/slides-01.jpg" alt="slides-01" />
    </li>
    <li>
      <img src="images/slides/slides-01.jpg" alt="slides-01" />
    </li>
    <li>
      <img src="images/slides/slides-01.jpg" alt="slides-01" />
    </li>
    <li>
      <img src="images/slides/slides-01.jpg" alt="slides-01" />
    </li>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
<div id="carousel" class="flexslider">
  <ul class="slides">
    <li>
      <img src="images/slides/slides-small-01.jpg" alt="slides-01" />
    </li>
    <li>
      <img src="images/slides/slides-small-02.jpg" alt="slides-02" />
    </li>
    <li>
      <img src="images/slides/slides-small-03.jpg" alt="slides-03" />
    </li>
    <li>
      <img src="images/slides/slides-small-04.jpg" alt="slides-04" />
    </li>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
      </div>
      <!--col-lg-8-->
     <div class="col-lg-4 mexico-internal-text2">
      <div class="mexico-internal1">
      <h4>Click Here To<br>
	  Contact Us Directly</h4>
      <img src="images/mexico-icon16.png" alt="icon16">
      </div>
	 <div class="mexico-internal2">
      <h3><img src="images/mexico-icon25.png" alt="icon25">Specifications</h3>
      <hr>
      <ul>
      <li>Has title?<span>Yes</span></li>
      <li>Has Registration?<span>Yes</span></li>
      <li>Brand<span>Honda</span></li>
      <li>Model<span>Civic</span></li>
      <li>Manufacturer Year<span>2005</span></li>
      <li>Number of door<span>4</span></li>
      <li>Transmission<span>Manual</span></li>
      <li>Fuel Type<span>Fuel</span></li>
      <li>Number Of Cylinders<span>4</span></li>
      <li>Mileage<span>10 ft</span></li>
      </ul>
      </div>
      </div>
      <!--col-lg-4-->
        </div>
         </div>
         <div class="container">
         <div class="row">
      <div class="col-lg-8 mexico-internal-text3">
	 <div class="mexico-internal3">
      <h3><img src="images/mexico-icon26.png" alt="icon26">Description</h3>
      <hr>
      <p>Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. 
Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat 
purus viverra</p>
      </div>
      </div>
      <!--col-lg-4-->
         </div>
         </div>
    </section>

    <section class="mexico-nav-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mexico-nav-bottom">
                <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="listings.html">Listings</a></li>
                <li><a href="contact.html">Contact</a></li>
                </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section class="mexico-social-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mexico-social2">
                <ul>
                <li>Copyright © 2019</li>
                <li><img src="images/mexico-icon9.png" alt="icon9">New York, NY</li>
                <li><img src="images/mexico-icon9.png" alt="icon9">+61 2 8236 9200</li>
                </ul>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="mexico-footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mexico-footer-text">
                <p>All Rights Reserved Cars For Mexico 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script>
    $(window).load(function() {
  // The slider being synced must be initialized first
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 210,
    itemMargin: 5,
        prevText: "Previous",
        nextText: "Next",
    asNavFor: '#slider'
  });
 
  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel"
  });
});
    </script>
</body>
</html>