<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logged In Mexico</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">  
    <link href="css/flexslider.css" rel="stylesheet" type="text/css"> 
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

</head>
<body>

    <header class="mexico-home-header4">
        <nav class="navbar navbar">
            <div class="container-fluid">
                <div class="row">	
                    <div class="col-lg-8 mexico-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="images/mexico-logo.png">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="index.html">Home</a>
                                </li>
                                <li><a href="listings.html">Listings</a>
                                </li>
                                <li><a class="active" href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mexico-nav-extra">
                    <a class="one" href="contact.html">Contact Us</a>
                    <a class="three" href="register.html"><img src="images/mexico-icon3.png" alt="icon3">Sign in or Register </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <section class="mexico-contact-section">
    <div class="container">
    <div class="row">
    <div class="col-lg-8 mexico-internal-heading">
    <h2>2005 Honda Civic</h2>
    </div>
    <div class="col-lg-4 mexico-internal-heading2">
    <span>Price</span>
    <a href="#">
    <button type="button" class="btn-default">$850</button>
    </a>
    </div>
    </div>
    </div>
    </section>
    
    <section class="mexico-logged-section">
    <div class="container">
    <div class="row">
     <div class="col-lg-10 col-lg-offset-1 mexico-logged">
      <h2>You must be logged in to
		view the inventory</h2>
      <p>Please either create an account or login with your<br> account to view the current inventory</p>
      <a href="login.html">
      <button type="button" class="btn-default">Login</button>
      </a>
      <a href="register.html">
      <button id="btn" type="button" class="btn-default">Create an account</button>
      </a>
      </div>
      <!--col-lg-8-->
        </div>
         </div>
    </section>

    <section class="mexico-nav-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mexico-nav-bottom">
                <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="listings.html">Listings</a></li>
                <li><a href="contact.html">Contact</a></li>
                </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section class="mexico-social-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mexico-social2">
                <ul>
                <li>Copyright © 2019</li>
                <li><img src="images/mexico-icon9.png" alt="icon9">New York, NY</li>
                <li><img src="images/mexico-icon9.png" alt="icon9">+61 2 8236 9200</li>
                </ul>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="mexico-footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mexico-footer-text">
                <p>All Rights Reserved Cars For Mexico 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script>
    $(window).load(function() {
  // The slider being synced must be initialized first
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 210,
    itemMargin: 5,
        prevText: "Previous",
        nextText: "Next",
    asNavFor: '#slider'
  });
 
  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel"
  });
});
    </script>
</body>
</html>