.navbar {
    border: medium none;
    border-radius: 0;
    padding-top:0px;
	padding-bottom:10px;
	margin-bottom:0px;
}
.navbar-right{
	padding-top:0px;
}
.navbar-right li {
	padding-bottom: 15px;
	padding-right: 10px;
	padding-top: 25px;
}
.navbar .navbar-right li a {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
	font-weight:400;
    padding-bottom: 0px;
}
.navbar .navbar-right li a:hover {
    background: none;
}
.navbar .navbar-right li a.active{
	color:#ff8480;
}
.navbar-brand  {
	padding:0px;
}
.navbar-brand > img {
    margin-left: 20px;
    margin-top: 31px;
}
.mexico-home-header{
	background:url(../images/mexico-header-bg.jpg) center;
	background-size:cover;
	height:199px;
}
.mexico-home-header2{
	background:url(../images/mexico-header-bg2.jpg) center;
	background-size:cover;
	height:833px;
}
.mexico-home-header3{
	background:url(../images/mexico-header-bg3.jpg) center;
	background-size:cover;
	height:750px;
}
.mexico-home-header4{
	background:#212798;
	padding-top:15px;
	padding-bottom:30px;
}
.mexico-nav-extra{
	padding-top:33px;
}
.mexico-nav-extra a.one{
	background:#fb236a;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
	font-weight:700;
	padding:8px 30px;
	border-radius:23px;
}
.mexico-nav-extra a.two{
	margin-left:20px;
}
.mexico-nav-extra a.three{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
	font-weight:400;
	margin-left:25px;
}
.mexico-nav-extra a.three img{
	margin-right:8px;
}
a:hover {
    text-decoration: none;
}
a:focus{
	outline:0 solid;
}
.mexico-search-wrap{
	background:#fff;
	border:5px solid #f4f4f4;
	border-bottom:0px solid;
    box-shadow: 0px 5px 5px #f4f4f4;
	margin-top:-40px;
	padding-top:12px;
}
/* body select.select_box */
.mexico-search-wrap select {
    display: block;
    padding: 13px;
    margin-bottom:20px;
    width: 100%;
    height: auto !important;
    border:none;
	border-right:1px solid #ddd;
    border-radius: 3px;
	background:url(../images/mexico-icon4.png) right center no-repeat;
    background-position: right 30px center;
    background-color: #fff;
    color: #5c6770;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px !important;
    appearance: none;
    /* this is must */ -webkit-appearance: none;
    -moz-appearance: none;
}
/* body select.select_box option */
.mexico-search-wrap select option {
	background:#ebebeb;
	color:#2a2a2a;
	border:0 !important;
    padding: 0 4px;
}
/* for IE and Edge */
.mexico-search-wrap select::-ms-expand {
    display: none;
}
.mexico-search-wrap select:disabled::-ms-expand {
    background: #f60;
}
.mexico-search-wrap button{
	background:#fb236a;
	border:none;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight:700;
    color: #fff;
	padding:13px 105px;
	border-radius:8px;
}
.mexico-sale-section{
	padding-top:70px;
	padding-bottom:90px;
}
.mexico-sale-heading h2{
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight:700;
    color: #1b2032;
}
.mexico-sale-heading hr{
	border-top:2px solid #9fa9b8;
	width:100px;
	display:inline-block;
	margin-top:8px;
	margin-bottom:12px;
}
.mexico-sale-heading p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight:400;
    color: #5c6770;
	padding-bottom:20px;
}
.mexico-sale-heading2 #dropdownMenu1 {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	font-weight: 400;
	border: none;
	float: right;
}
.mexico-sale-heading2 #dropdownMenu1:focus {
	background:none !important;
	outline:0 solid;
}
.mexico-sale-heading2 .dropdown-menu {
	margin: 46px 0 0;
}
.mexico-sale-heading2 .dropdown-menu li a.first {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding-top: 8px;
}
.mexico-sale-heading2 .dropdown-menu li a.first span{
	display:inline-block;
	padding-left:30px;
}
.dropdown-menu .divider {
	height: 2px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #fb236a;
}
.mexico-sale-heading2 .dropdown-menu li a {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.mexico-sale-heading2 .dropdown-menu li a:hover {
	background:none;
	color:#fb236a;
	font-weight:800;
}
.mexico-sale-heading2 .dropdown .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left:10px;
	vertical-align: middle;
	border-top: 6px dashed;
	border-top: 4px solid\9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

.btn-default:hover {
	color: #333;
	background-color: #fff;
	border-color: #adadad;
}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #adadad;
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(255,255,255,.125);
}
.mexico-sale-wrap{
	padding-top:35px;
}
.mexico-sale-img img{
	position:relative;
	max-width:100%;
}
.mexico-sale-btn{
	position:absolute;
	top:5%;
	margin-left:25px;
}
.mexico-sale-btn button{
	background:#fb236a;
	border:0px solid;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 900;
	padding:7px 32px;
	border-radius:22px;
}
.mexico-sale-btn button#btn{
	background:#fff;
	border:0px solid;
    color: #1b2032;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
	padding:7px 32px;
	border-radius:22px;
	margin-left:12px;
}
.mexico-sale-btn button#btn2{
	background:none;
	border:0px solid;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
	display:inline-block;
	text-align:right;
	padding:0;
	margin-left:115px;
	margin-right:12px;
}
.mexico-sale-btn button#btn2 img{
	margin-right:12px;
}
.mexico-sale-text{
	position:absolute;
	top:42%;
}
.mexico-sale-text ul{
	padding-left:29px;
}
.mexico-sale-text ul li{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
	list-style:none;
	display:inline-block;
	padding-right:55px;
}
.mexico-sale-text ul.second li{
	padding-right:25px;
}
.mexico-sale-text ul.second2 li{
	padding-right:45px;
}
.mexico-sale-text ul.second3 li{
	padding-right:26px;
}
.mexico-sale-text2{
	border:1px solid #ddd;
	position:relative;
}
.mexico-sale-text2 h2{
    color: #1b2032;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight:600;
	padding-left:16px;
	padding-top:8px;
	padding-bottom:16px;
}
.mexico-sale-text3{
	position:relative;
	border:1px solid #ddd;
	border-top:1px solid #fff;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
.mexico-sale-text3 h3{
    color: #4cbfd8;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight:400;
	padding-left:16px;
	margin-top:8px;
	margin-bottom:8px;
}
.mexico-sale-text3 h3 img{
	margin-right:12px;
}
.mexico-nav-section{
	background:#0d173a;
	padding-top:37px;
	padding-bottom:25px;
}
.mexico-nav-bottom ul{
	padding-left:0px;
	display:block;
	text-align:center;
}
.mexico-nav-bottom ul li{
	list-style:none;
	display:inline-block;
	padding-left:14px;
	padding-right:14px;
}
.mexico-nav-bottom ul li a{
	color:#7b8094;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight:400;
}
.mexico-social-section{
	background:#101b41;
	padding-top:30px;
	padding-bottom:20px;
}
.mexico-social2 ul{
	padding-top:25px;
	padding-left:0px;
	display:block;
	text-align:center;
}
.mexico-social2 ul li{
	list-style:none;
	display:inline-block;
	padding-left:21px;
	padding-right:21px;
}
.mexico-social2 ul li{
	color:#7b8094;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight:400;
}
.mexico-social2 ul li img{
	margin-right:11px;
}
.mexico-footer-section{
	background:#101b41;
	border-top:1px solid #23293e;
	padding-top:30px;
	padding-bottom:50px;
}
.mexico-footer-text p{
    font-family: 'Nunito', sans-serif;
	font-size:15px;
	font-weight:400;
	color: #7b8094;
	text-align:center;
}

.mexico-register-wrap .new-alert{
	background:#079855;
	border-radius:0px;
	color: #fff;
    font-family: 'Nunito', sans-serif;
	font-size:24px;
	font-weight:600;
	padding:10px 65px;
}
.mexico-register-wrap .new-alert2{
	background:#993a76;
	border-radius:0px;
	color: #fff;
    font-family: 'Nunito', sans-serif;
	font-size:24px;
	font-weight:600;
	padding:10px 65px;
}
.mexico-register-wrap h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 55px;
	font-weight: 700;
	color: #ffffff;
	text-align:center;
	padding-top:23px;
	padding-bottom:20px;
}
.mexico-register-wrap h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 55px;
	font-weight: 700;
	color: #ffffff;
	text-align:center;
	padding-top:63px;
	padding-bottom:20px;
}
.mexico-register-wrap label {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	padding-bottom:12px;
}
.mexico-register-wrap .form-control{
	height:52px;
	border-radius:12px;
	color:#252728;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.mexico-register-wrap .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.mexico-register-wrap .form-control::-moz-placeholder { /* Firefox 19+ */
	color:#5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.mexico-register-wrap .form-control:-ms-input-placeholder { /* IE 10+ */
	color:#5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.mexico-register-wrap .form-control:-moz-placeholder { /* Firefox 18- */
	color:#5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.mexico-register-wrap button{
	background:#fb236a;
	border:none;
	border-radius:8px;
	color:#fff;
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	font-weight: 700;
	padding:19px 60px;
	display:block;
	margin:0px auto;
	margin-top:22px;
	margin-bottom:22px;
}
.mexico-register-wrap button#btn{
	background:#fb236a;
	border:none;
	border-radius:8px;
	color:#fff;
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	font-weight: 700;
	padding:19px 60px;
	display:block;
	margin:0px auto;
	margin-top:32px;
	margin-bottom:22px;
}
.mexico-register-extra{
	display:block;
	text-align:center;
}
.mexico-register-extra span{
	color:#ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.mexico-register-extra a{
	color:#fb236a;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-decoration:underline;
}
.mexico-register-extra2 a{
	color:#ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align:center;
	display:block;
}
.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
}
.checkbox input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.checkbox label {
    position: relative;
}
.checkbox label:before {
	background:#fb236a;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 18px;
    height: 18px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #ffa737;
}
.checkbox label:after {
  content: '';
    display: block;
    width: 8px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 10px;
    left: 9px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
    color: #7bbe72;
}
.checkbox input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}
.checkbox label {
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
.checkbox label span {
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}
.mexico-contact-section{
	padding:12px;
	border-bottom:2px solid #ddd;
}
.mexico-contact-heading h2 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin-top:12px;
}
.mexico-contact-section2{
	background:#f9fafc;
	padding-top:70px;
	padding-bottom:70px;
}
.mexico-contact-text{
	background:#fff;
	border:1px solid #ddd;
	padding-bottom:30px;
}
.mexico-contact-text h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size:18px;
	font-weight: 700;
	margin-top: 19px;
}
.mexico-contact-text h3 img{
	margin-right:15px;
}
.mexico-contact-text img.map-img{
	max-width:100%;
	margin-top:12px;
}
.mexico-contact-text ul.one{
	padding-left:0px;
	padding-top:30px;
}
.mexico-contact-text ul.one li{
	list-style:none;
}
.mexico-contact-text ul.one li {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-left: 34px;
	padding-bottom: 20px;
}
.mexico-contact-text ul.one img{
	position:absolute;
}
.mexico-contact-text ul.new{
	padding-left:0px;
}
.mexico-contact-text ul.new li{
	list-style:none;
	display:inline-block;
	padding-right:12px;
}
.mexico-contact-text ul li a{
	background:#fff;
	color:#9fa9b8;
	border:2px solid #efefef;
	height:36px;
	width:36px;
	border-radius:36px;
	line-height:34px;
	display:inline-block;
	text-align:center;
}
.mexico-contact-text ul li a:hover{
	background:#edf0f3;
	border:2px solid #edf0f3;
	color:#32383d;
}
.mexico-contact-wrap{
	background:#fff;
	border:1px solid #ddd;
	padding:12px 20px;
	padding-top:5px;
}
.mexico-contact-wrap h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size:18px;
	font-weight: 700;
	margin-top: 17px;
}
.mexico-contact-wrap h3 img{
	margin-right:15px;
}
.mexico-contact-wrap hr{
	margin-bottom:27px;
}
.mexico-contact-wrap .form-control{
	border:2px solid #e6e8ed;
	height:50px;
	margin-bottom:28px;
	color:#111315;
	font-family: 'Nunito', sans-serif;
	font-size:14px;
	font-weight:600;
}
.mexico-contact-wrap #text{
	height:150px;
}
.mexico-contact-wrap .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size:14px;
	font-weight:400;
}
.mexico-contact-wrap .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size:14px;
	font-weight:400;
}
.mexico-contact-wrap .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size:14px;
	font-weight:400;
}
.mexico-contact-wrap .form-control:-moz-placeholder { /* Firefox 18- */
    color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size:14px;
	font-weight:400;
}
.mexico-contact-wrap button{
	background:#e72e5d;
	border:0px solid;
	border-radius:7px;
    color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size:16px;
	font-weight:700;
	padding:14px 45px;
}
.mexico-contact-wrap button:hover{
	background:#ca0d3d;
	color:#fff;
}
.mexico-contact1{
	background:#5ebe7d;
	border-radius:7px;
	padding-top:45px;
	padding-bottom:45px;
	padding-left:35px;
	position:relative;
}
.mexico-contact1 h4{
    color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size:25px;
	font-weight:700;
}
.mexico-contact1 img {
	position: absolute;
	top: 20px;
	right: 6px;
}
.mexico-contact2{
	background:#e72e5d;
	border-radius:7px;
	padding-top:24px;
	padding-bottom:24px;
	padding-left:35px;
	position:relative;
	margin-top:20px;
}
.mexico-contact2 span{
    color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size:31px;
	font-weight:900;
}
.mexico-contact2 span.second {
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding-right: 52px;
}
.mexico-listing-section{
	background:#f9fafc;
}
.mexico-listing{
	background:#fff;
	border-right:2px solid #ebecee;
	padding-left:0px;
	padding-right:0px;
	padding-top:40px;
}
.mexico-listing ul.nav-list{
	padding-left:0px;
}
.mexico-listing ul.nav-list li{
	list-style:none;
	padding-left:25px;
	padding-top:13px;
	padding-bottom:13px;
	margin-bottom:20px;
}
.mexico-listing ul.nav-list li img{
	margin-right:13px;
}
.mexico-listing ul.nav-list li.active{
	background:#f9fafc;
	color:#1b2032;
	border-right:2px solid #1b2032;
}
.mexico-listing ul.nav-list li.active a{
	color:#1b2032;
}
.mexico-listing ul.nav-list li a{
	color:#5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.mexico-listing2-wrap{
	margin-bottom:45px;
}
.mexico-listing2{
	background:#fff;
	border:2px solid #eeee;
	border-bottom:0px;
	border-radius:8px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
	margin-top:40px;
}
.mexico-listing2 h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-top: 18px;
	padding-left:32px;
}
.mexico-listing2 h3 img {
	margin-right: 15px;
}
.mexico-listing2 hr{
	margin-bottom:0px;
}
.mexico-listing3{
	background:#fff;
	border:2px solid #eeee;
	border-top:0px;
	border-radius:8px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
	padding-top:26px;
	padding-bottom:22px;
}
.mexico-listing4{
	background:#fff;
	border:2px solid #eeee;
	border-top:0px;
	border-radius:8px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
	padding-top:26px;
	padding-bottom:22px;
}
.mexico-listing-content button{
	background:#fff;
	border:none;
	border:2px solid #eee;
	border-radius:20px;
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding:6px 17px;
}
.mexico-listing-content h2{
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	font-weight:600;
	margin-top:11px;
}
.mexico-listing-content p{
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight:400;
}
.mexico-listing-content h4{
	color: #4cbfd8;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight:400;
}
.mexico-listing-content h4 img{
	margin-right:13px;
}
.mexico-listing-content2{
	display:block;
	text-align:right;
	padding-top:42px;
}
.mexico-listing-content2 button#btn{
	background:#bdc1c9;
	border:0px solid;
	border-radius:4px;
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight:400;
	padding:9px 16px;
}
.mexico-listing-content2 button#btn img{
	margin-right:7px;
}
.mexico-listing-content2 button#btn2{
	background:#8c689d;
	border:0px solid;
	border-radius:4px;
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight:400;
	padding:9px 16px;
	margin-left:15px;
}
.mexico-listing-content2 button#btn2 img{
	margin-right:7px;
}
.mexico-listing-content2 button#btn3{
	background:#fb236a;
	border:0px solid;
	border-radius:4px;
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight:400;
	padding:9px 16px;
	margin-left:15px;
}
.mexico-listing-content2 button#btn3 img{
	margin-right:7px;
}
.mexico-internal-section {
	padding: 12px;
	border-bottom: 2px solid #ddd;
}
.mexico-internal-heading h2 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin-top: 18px;
}
.mexico-internal-heading2{
	display:block;
	text-align:right;
}
.mexico-internal-heading2 span {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 30px;
	font-weight: 400;
}
.mexico-internal-heading2 button {
	background:#f52368;
	border:0px solid;
	border-radius:20px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 48px;
	font-weight: 700;
	padding:1px 38px;
	margin-left:20px;
}

.mexico-internal-section2{
	background:#f9fafc;
	padding-top:60px;
	padding-bottom:70px;
}
.mexico-internal{
	background:#fff;
	border:2px solid #eee;
	padding-bottom:15px;
}
.mexico-internal h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-top: 21px;
}
.mexico-internal h3 img {
	margin-right: 15px;
}
.mexico-internal hr {
	margin-bottom: 27px;
}
.flexslider {
	margin: 0 0 25px;
}
.flex-direction-nav a::before {
	background:url(../images/mexico-icon23.png);
	font-family: "Arial";
	font-size: 40px;
	line-height: 1;
	display: inline-block;
	content: '';
	width: 56px;
	height: 56px;
}
.flex-direction-nav a.flex-next:before {
	background:url(../images/mexico-icon23.png);
}
.mexico-internal1 {
	background: #5ebe7d;
	border-radius: 7px;
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 23px;
	position: relative;
}
.mexico-internal1 h4 {
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	font-weight: 700;
}
.mexico-internal1 img {
	position: absolute;
	top: 20px;
	right: 6px;
}
.mexico-internal2 {
	background: #fff;
	border-radius: 7px;
	border:2px solid #eee;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 23px;
	padding-right: 23px;
	position: relative;
	margin-top:32px;
}
.mexico-internal2 h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-top: 17px;
}
.mexico-internal2 h3 img {
	margin-right: 15px;
}
.mexico-internal2 ul{
	padding-left:0px;
}
.mexico-internal2 ul li{
	list-style:none;
	color:#212798;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height:3.1;
}
.mexico-internal2 ul li span{
	list-style:none;
	color:#2a2a2a;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 500;
	display:inline-block;
	float:right;
}
.mexico-internal-text3 {
	background: #fff;
	border: 2px solid #eee;
	padding-left:23px;
}
.mexico-internal3 h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-top: 23px;
}
.mexico-internal3 h3 img {
	margin-right: 15px;
}
.mexico-internal3 p {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height:1.8;
	padding-bottom:20px;
}
.mexico-logged-section {
	background: #f9fafc;
	padding-top: 70px;
	padding-bottom: 70px;
}
.mexico-logged{
	background:#fff;
	border-radius:12px;
	padding:80px;
	display:block;
	text-align:center;
}
.mexico-logged h2 {
	color: #212798;
	font-family: 'Nunito', sans-serif;
	font-size: 45px;
	font-weight: 700;
	margin-top:0px;
	padding-bottom:15px;
}
.mexico-logged p {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	font-weight:400;
	margin-top:0px;
	padding-bottom:15px;
}
.mexico-logged button {
	background: #fb236a;
	border: 0px solid;
	border-radius: 4px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	font-weight: 700;
	padding: 12px 60px;
}
.mexico-logged button:hover {
	background: #fb236a;
	border: 0px solid;
	border-radius: 4px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	font-weight: 700;
	padding: 12px 60px;
}
.mexico-logged button#btn {
	background: #212798;
	border: 0px solid;
	border-radius: 4px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	font-weight: 700;
	padding: 12px 30px;
	margin-left:20px;
}

.mexico-license-section {
	background: #f9fafc;
	padding-top: 70px;
	padding-bottom: 70px;
}
.mexico-license-wrap{
	background:#fff;
	border:1px solid #ddd;
	border-radius:6px;
	padding:12px 20px;
	padding-top:5px;
}
.mexico-license-wrap h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size:18px;
	font-weight: 400;
	margin-top: 20px;
}
.mexico-license-wrap h3 img{
	margin-right:15px;
}
.mexico-license-wrap hr{
	margin-bottom:27px;
}
.mexico-license-wrap label{
	color:#5c6770;
	font-family: 'Nunito', sans-serif;
	font-size:14px;
	font-weight:400;
}
.mexico-license-wrap .form-control{
	border:2px solid #e6e8ed;
	height:50px;
	margin-bottom:18px;
	color:#111315;
	font-family: 'Nunito', sans-serif;
	font-size:14px;
	font-weight:600;
}
.mexico-license-btn{
	padding-left:0px;
	margin-top:45px;
}
.mexico-license-btn button{
	background:#fb236a;
	border:0px solid;
	border-radius:7px;
    color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size:21px;
	font-weight:700;
	padding:17px 58px;
}
.mexico-license-btn button:hover{
	background:#ca0d3d;
	color:#fff;
}
.mexico-license-wrap2{
	background:#fff;
	border:1px solid #ddd;
	border-radius:6px;
	padding:12px 20px;
	padding-top:5px;
}
.mexico-license-wrap2 h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size:18px;
	font-weight: 400;
	margin-top: 20px;
}
.mexico-license-wrap2 h3 img{
	margin-right:15px;
}
.mexico-license3{
	padding-left:0px;
	padding-top:10px;
}
.mexico-license4{
	padding-left:0px;
}
.mexico-license6{
	padding-left:0px;
}
.mexico-license6 p {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size:14px;
	font-weight: 400;
	margin-top: 17px;
}

.mexico-upload-section{
	background:#f9fafc;
	padding-top:100px;
	padding-bottom:100px;
}
.mexico-upload {
	background: #fff;
	border: 2px solid #ebecee;
	border-radius:8px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 23px;
}
.mexico-upload ul.nav-list {
	padding-left: 0px;
}
.mexico-upload ul.nav-list li {
	list-style: none;
	padding-left: 25px;
	padding-top: 13px;
	padding-bottom: 13px;
	margin-bottom: 20px;
}
.mexico-upload ul.nav-list li a {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.mexico-upload ul.nav-list li.active {
	background: #f9fafc;
	color: #1b2032;
	border-right: 2px solid #1b2032;
}
.mexico-upload ul.nav-list li.active a {
	color: #1b2032;
}
.mexico-upload ul.nav-list li img {
	margin-right: 13px;
}
.mexico-upload ul.nav-list li img.three {
	margin-right: 22px;
}

.mexico-upload2-wrap {
}
.mexico-upload2 {
	background: #fff;
	border: 2px solid #eeee;
	border-bottom: 0px;
	border-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.mexico-upload2 h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-top: 18px;
	padding-left: 25px;
}
.mexico-upload2 h3 img {
	margin-right: 15px;
}
.mexico-upload2 hr {
	margin-bottom: 0px;
}


.mexico-upload3 {
	background: #fff;
	border: 2px solid #eeee;
	border-top: 0px;
	border-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-top: 26px;
	padding-bottom: 22px;
	padding-left: 22px;
	padding-right: 22px;
}
.mexico-upload3 label {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-bottom:11px;
}
.mexico-upload3 select {
	display: block;
	padding: 13px;
	margin-bottom: 20px;
	width: 100%;
	height: auto !important;
	border: none;
	border: 2px solid #e6e8ed;
	border-radius: 7px;
	background: url(../images/mexico-icon30.png) right center no-repeat;
	background-position: right 15px center;
	background-color: #fff;
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.mexico-upload3  .form-control {
	border: 2px solid #e6e8ed;
	height: 50px;
	margin-bottom: 18px;
	color: #111315;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.mexico-upload-wrap2 {
	background: #fff;
	border: 1px solid #ddd;
	border-bottom:0px solid;
	border-radius: 6px;
	padding: 12px 20px;
	padding-top: 5px;
	margin-top:35px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
.mexico-upload-wrap2 h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;
}
.mexico-upload-wrap2 h3 img {
	margin-right: 15px;
}
.mexico-upload-wrap3 {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 12px 20px;
	padding-top:15px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
.mexico-upload-wrap3 h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;
}
.mexico-upload-wrap3 h3 img {
	margin-right: 15px;
}

.mexico-video-wrap {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 12px 20px;
	padding-top: 15px;
	margin-top:32px;
}
.mexico-video-wrap h3 {
	color: #1b2032;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-top: 10px;
}
.mexico-video-wrap h3 img {
	margin-right: 15px;
}
.mexico-video-wrap label {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 11px;
}
.mexico-video-wrap .form-control {
	border: 2px solid #e6e8ed;
	height: 50px;
	margin-bottom: 18px;
	color: #111315;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 600;
}
.mexico-video-wrap .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.mexico-video-wrap .form-control::-moz-placeholder { /* Firefox 19+ */
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.mexico-video-wrap .form-control:-ms-input-placeholder { /* IE 10+ */
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.mexico-video-wrap .form-control:-moz-placeholder { /* Firefox 18- */
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.mexico-upload-btn{
	margin-top:30px;
	padding-left:0px;
	padding-right:0px;
}
.mexico-upload-btn button {
	background: #e72e5d;
	border: 0px solid;
	border-radius: 7px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 14px 45px;
	width:100%;
}
.mexico-upload-btn button:hover {
	background: #d91757;
	border: 0px solid;
	border-radius: 7px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 14px 45px;
	width:100%;
}
.mexico-upload-btn a {
	color: #5c6770;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	display:block;
	text-align:center;
	margin-top: 20px;
}